layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                name "opencode"
                command "/opt/homebrew/bin/nu"
                args "--config" "/Users/thedadams/.config.nu" "--env-config" "/Users/thedadams/.env.nu" "-c" "opencode"
                start_suspended true
            }
            pane {
                name "jjui"
                command "/opt/homebrew/bin/nu"
                args "--config" "/Users/thedadams/.config.nu" "--env-config" "/Users/thedadams/.env.nu" "-c" "jjui"
            }
        }
        pane {}
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
