layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane {
            name "k9s"
            command "/opt/homebrew/bin/nu"
            args "--config" "/Users/thedadams/.config.nu" "--env-config" "/Users/thedadams/.env.nu" "-c" "k9s"
        }
        pane {
            name "port-forward"
            command "/usr/local/bin/kubectl"
            args "port-forward" "-n" "obot" "--address" "localhost" "services/obot-obot" "8081:80"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
