// Ember One for Zellij
// Personal color scheme by Donnie Adams

themes {
    ember-one-dark {
        text_unselected {
            base 225 230 236
            background 32 36 44
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        text_selected {
            base 245 247 250
            background 63 79 102
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        ribbon_unselected {
            base 170 180 192
            background 40 46 55
            emphasis_0 234 86 112
            emphasis_1 245 139 69
            emphasis_2 95 170 247
            emphasis_3 185 110 242
        }

        ribbon_selected {
            base 25 29 36
            background 95 170 247
            emphasis_0 234 86 112
            emphasis_1 245 139 69
            emphasis_2 153 196 92
            emphasis_3 230 85 167
        }

        table_title {
            base 95 170 247
            background 0
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        table_cell_unselected {
            base 225 230 236
            background 32 36 44
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        table_cell_selected {
            base 245 247 250
            background 48 55 67
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        list_unselected {
            base 225 230 236
            background 32 36 44
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        list_selected {
            base 245 247 250
            background 48 55 67
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 153 196 92
            emphasis_3 185 110 242
        }

        frame_unselected {
            base 67 77 91
            background 0
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 185 110 242
            emphasis_3 0
        }

        frame_selected {
            base 95 170 247
            background 0
            emphasis_0 245 139 69
            emphasis_1 54 205 187
            emphasis_2 185 110 242
            emphasis_3 0
        }

        frame_highlight {
            base 245 139 69
            background 0
            emphasis_0 185 110 242
            emphasis_1 245 139 69
            emphasis_2 221 187 82
            emphasis_3 230 85 167
        }

        exit_code_success {
            base 153 196 92
            background 0
            emphasis_0 54 205 187
            emphasis_1 32 36 44
            emphasis_2 185 110 242
            emphasis_3 95 170 247
        }

        exit_code_error {
            base 234 86 112
            background 0
            emphasis_0 221 187 82
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }

        multiplayer_user_colors {
            player_1 95 170 247
            player_2 185 110 242
            player_3 245 139 69
            player_4 54 205 187
            player_5 230 85 167
            player_6 221 187 82
            player_7 153 196 92
            player_8 234 86 112
            player_9 127 137 152
            player_10 245 247 250
        }
    }

    ember-one-light {
        text_unselected {
            base 45 51 59
            background 247 245 240
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        text_selected {
            base 23 27 33
            background 215 226 239
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        ribbon_unselected {
            base 89 94 102
            background 240 238 232
            emphasis_0 174 39 65
            emphasis_1 146 70 16
            emphasis_2 24 92 157
            emphasis_3 114 64 162
        }

        ribbon_selected {
            base 247 245 240
            background 24 92 157
            emphasis_0 174 39 65
            emphasis_1 146 70 16
            emphasis_2 63 104 24
            emphasis_3 148 50 109
        }

        table_title {
            base 24 92 157
            background 0
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        table_cell_unselected {
            base 45 51 59
            background 247 245 240
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        table_cell_selected {
            base 23 27 33
            background 231 228 220
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        list_unselected {
            base 45 51 59
            background 247 245 240
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        list_selected {
            base 23 27 33
            background 231 228 220
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 63 104 24
            emphasis_3 114 64 162
        }

        frame_unselected {
            base 200 194 183
            background 0
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 114 64 162
            emphasis_3 0
        }

        frame_selected {
            base 24 92 157
            background 0
            emphasis_0 146 70 16
            emphasis_1 0 102 97
            emphasis_2 114 64 162
            emphasis_3 0
        }

        frame_highlight {
            base 146 70 16
            background 0
            emphasis_0 114 64 162
            emphasis_1 146 70 16
            emphasis_2 115 89 0
            emphasis_3 148 50 109
        }

        exit_code_success {
            base 63 104 24
            background 0
            emphasis_0 0 102 97
            emphasis_1 247 245 240
            emphasis_2 114 64 162
            emphasis_3 24 92 157
        }

        exit_code_error {
            base 174 39 65
            background 0
            emphasis_0 115 89 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }

        multiplayer_user_colors {
            player_1 24 92 157
            player_2 114 64 162
            player_3 146 70 16
            player_4 0 102 97
            player_5 148 50 109
            player_6 115 89 0
            player_7 63 104 24
            player_8 174 39 65
            player_9 122 116 107
            player_10 23 27 33
        }
    }
}
